node_modules
.next
out
dist
.env
.env.local
.env.production
coverage
cache
artifacts
typechain-types
.cache
.DS_Store
*.log
hardhat/cache
hardhat/artifacts
frontend/.next
frontend/out
lighthouse
*.tsbuildinfo
frontend/next-env.d.ts
package-lock.json
